#section{
    margin: 5rem auto;
    text-align: center;
    line-height: 36px;
    background-color: rgb(50, 50, 65);
    padding: 1rem;
    width: 50%;
    border-radius: 12px;
    font-family: sans-serif;
    align-items: center;
}

#section p{
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(37, 35, 35);
    width: 50%;
    margin: 1rem auto;
}

#btns{
    padding: 0.5rem;
    background-color: rgb(25, 25, 97);
    text-align: center;
    margin: 2rem auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 40vh;
}

button{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
