#ul-header{
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    color: rgb(20, 20, 20);
    padding: 0.5rem;
}

#ul-header ul{
    border-bottom: 4px solid rgb(17, 17, 17);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
}

#li-header{
    font-size: 1.4rem;
    color: rgb(71, 15, 15);
    cursor: pointer;
}

#li-header:hover{
    font-size: 1.5rem;
}